


main{
    border: 2px solid #f1f1f1;
    margin: auto;
    width: 55vw;  
    height: 100vh;
  
}

nav{
    font-size: small;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-items a{
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
    padding: 10px;  
}


.logo img{
    width: 100px;
    height: 100px;
}




   



