* {
  background-color: #fffcf2;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;

}

main {
  border: 2px solid #f1f1f1;
  margin: auto;
  width: 80vw;
  height: 100vh;
  
}

nav {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*flex-wrap: wrap; */
  margin: auto;


}

hr {

  border-top: 3px solid #333;
  color: #333;
  height: 5px;
}

.nav-items a:hover {

    color: #9b5de5;
    border-radius: 4%;
    background-color: #f1f1f1;
}

.dropdown:hover .dropbtn{
  
  color: #9b5de5;
  border-radius: 4%;
  background-color: #f1f1f1;
} 



a {
  font-size:  1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: grey;
  padding: 0 10px;
}

.logo img {
 
  width: 150px;
  height: 130px;
}




div:nth-of-type(2) {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  order: 1;
}

div:nth-of-type(3) {
  align-self: flex-end;
}


.dropbtn {
  font-style: normal;
  color: grey;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  

}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(114, 64, 114);
  min-width: 160px;
  z-index: 1;
}


.dropdown-content a {
  color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown:hover .dropdown-content {
  display: block;
  color: #9b5de5;
  border-radius: 4%;
}

.dropbtn{
  text-transform: uppercase;
}


